@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .spinner {
    animation: s3 10s infinite linear;
  }
  .f-spinner {
    animation: s3 1s infinite linear;
  }

  @keyframes s3 {
    to {
      transform: rotate(360deg);
    }
  }
  /* .form-label {
    display: block;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
  }
  .form-input:focus {
    outline: none;
    } */
  .form-input {
    @apply w-full placeholder:text-black p-2  border-b-2 border-primary focus:border-black focus:outline-none  bg-secondary;
  }
}
